.mainPageHead {
  border-bottom: 1px solid rgb(195, 185, 185);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  padding-bottom: 20px;
}
.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px solid rgb(195, 185, 185);
}

.profileImg {
  object-fit: cover;
  height: 75%;
  width: 75%;
  border-radius: 50%;
  margin-top: 10px;
  padding: 2px;
  border: 1px solid rgb(195, 185, 185);
}

.card {
  background-color: white;
  padding: 10px;
  border: none;
  margin-bottom: 10px;
}

.cardTop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardIcon {
  width: fit-content;
  padding: 10px;
  height: fit-content;
  border-radius: 5px;
  margin: 5px;
  background-color: rgb(91, 91, 244);
}

.cardInfo {
  margin-top: 15px;
  border-bottom: 1px solid rgb(195, 185, 185);
}

.cardLower {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}

.cardProgressTime {
  background-color: #d1dcdc;
  height: fit-content;
  padding: 5px;
  border-radius: 3px;
}

.cardProgressTest {
  font-size: 18px;
}

.currentProjects {
  border-radius: 5px;
}

.button-next {
  right: -30px;
}
.button-prev {
  left: -30px;
}

.mid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.prevSlide {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  transition: 700ms;
  border: 1px solid gray;
}
.prevSlide:hover {
  background-color: blueviolet;
  color: white;
}
.nextSlide {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: 700ms;
  border: 1px solid gray;
}
.next-slide:hover {
  background-color: blueviolet;
  color: white;
}

.low {
  margin-top: 10px;
  justify-content: space-between;
}

.personal-info {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.personalCol {
  padding: 0;
}

.bankCol {
  padding: 0;
}

.personalInfoKey p {
  font-weight: bold;
}

.personalInfoLow {
  margin-top: 15px;
}

.bankInfoUpper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.currentTask {
  background-color: white;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 5px;
  padding: 10px;
}

.current-task h5 {
  margin: 10px;
}

.currentTaskTop {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
  transition: 700ms;
}

.current-task-top:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.title-status {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title {
  background-color: skyblue;
  border-radius: 3px;
  margin: 5px;
  padding: 5px;
  height: fit-content;
}

.status {
  color: white;
  background-color: orange;
  height: fit-content;
  padding: 5px;
  margin: 5px;
  border-radius: 3px;
}

.description {
  text-align: justify;
  padding: 5px;
}

.comment {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.comment-text {
  background-color: gray;
  padding: 5px;
  color: white;
  border-radius: 5px;
}

.experience {
  background-color: white;
  display: flex;
  flex-direction: row;

  padding: 10px;
  border-bottom: 1px solid rgb(180, 178, 178);
  border-left: 1px solid rgb(180, 178, 178);
}

.dot {
  position: relative;
  left: -16px;
  top: 50%;
  bottom: 50%;
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.icon {
  background-color: rgb(111, 137, 251);
  width: fit-content;
  height: fit-content;
  border-radius: 50%;
  color: white;
}

.experienceBody {
  margin-left: 10px;
}
